force-app/main/default/flows/Case_Decision_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Case_Approved_Notification</name>
        <label>Case Approved Notification</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>CaseApprovedNotify</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Email_Addresses</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Procedure Request Approved</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Case_Returned_Notification</name>
        <label>Case Returned Notification</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>CaseApprovedNotify</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Email_Addresses</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Procedure Request Approved</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>CaseApprove</name>
        <label>CaseApprove</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>CaseDecision</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>approved</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Approved_Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CaseReturned</name>
        <label>CaseReturned</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>CaseDecision</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>returned</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Returned_Notification</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Approved</name>
        <label>Approved</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CaseApprove</targetReference>
            </connector>
            <label>Case Approved</label>
        </rules>
        <rules>
            <name>Case_Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Returned</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CaseReturned</targetReference>
            </connector>
            <label>Case Rejected</label>
        </rules>
    </decisions>
    <formulas>
        <name>Email_Addresses</name>
        <dataType>String</dataType>
        <expression>{!$Record.Case_Submitter__r.Manager.Email}+&apos;,&apos;+{!$Record.Case_Submitter__r.Email}+&apos;,&apos;+{!$Record.Procedure_Repository__r.Department_Head_Email__c}</expression>
    </formulas>
    <interviewLabel>Case Decision Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Decision Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Approved</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>CaseApprovedNotify</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi Team,
Procedure Case request is {!CaseDecision}. Please check the following link for the details.
Procedure Request URL :   {!$Record.Case_URL__c}
Thanks,
Legal Team</text>
    </textTemplates>
    <variables>
        <name>CaseDecision</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
