force-app/main/default/flows/Create_New_Procedure_Version.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <description>If Case Status is Approved, In Legal Review, Waiting for Approval then new procedure version is not allowed.</description>
        <name>Case_Status</name>
        <label>Case Status</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Get_Existing_Procedure_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_pending_for_Legal_Review</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting for Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Legal Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Procedure_Version_not_allowed</targetReference>
            </connector>
            <label>Case pending for Legal Review</label>
        </rules>
    </decisions>
    <interviewLabel>Create New Procedure Version {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create New Procedure Version</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Procedure_Version</name>
        <label>Create New Procedure Version</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <inputAssignments>
            <field>Department__c</field>
            <value>
                <elementReference>Get_Existing_Procedure_Record.Department__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Procedure_Overview__c</field>
            <value>
                <elementReference>Procedure_Overview</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Procedure_Request__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Procedure_Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Procedure_Title__c</field>
            <value>
                <elementReference>Procedure_Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Version__c</field>
            <value>
                <elementReference>Version</elementReference>
            </value>
        </inputAssignments>
        <object>Procedure_Repository__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_Record</name>
        <label>Get Case Record</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Procedure_Repository__c</queriedFields>
        <queriedFields>Status</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Procedure_Record</name>
        <label>Get Existing Procedure Record</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Procedure</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_Record.Procedure_Repository__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Procedure_Repository__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Procedure_Overview__c</queriedFields>
        <queriedFields>Version__c</queriedFields>
        <queriedFields>Department__c</queriedFields>
        <queriedFields>Procedure_Title__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>New_Procedure_Version_not_allowed</name>
        <label>New Procedure Version not allowed</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>notallowed</name>
            <fieldText>&lt;p&gt;You cannot create a new Procedure Version as request is pending for Legal team&apos;s review.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Procedure</name>
        <label>Procedure</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_New_Procedure_Version</targetReference>
        </connector>
        <fields>
            <name>Department</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Department:  &lt;/b&gt;{!Get_Existing_Procedure_Record.Department__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Procedure_Title</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Existing_Procedure_Record.Procedure_Title__c</elementReference>
            </defaultValue>
            <fieldText>Procedure Title</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Version</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_Existing_Procedure_Record.Version__c</elementReference>
            </defaultValue>
            <fieldText>Version</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Procedure_Overview</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Existing_Procedure_Record.Procedure_Overview__c</elementReference>
            </defaultValue>
            <fieldText>Procedure Overview</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>CaseId</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
